# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Runtime & deps
node_modules
dist
dist-ssr
*.local

# Environment variables
.env
.env.local
.env.*.local

# Tailwind cache
.tailwind-cache

# System
.DS_Store
Thumbs.db
ehthumbs.db

# Editor
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
